audiomentations
h5py
ipympl
ipywidgets
jiwer
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
librosa
onnxruntime
Ninja
numpy
num2words
pandas
pesq
Pillow
protobuf
pyroomacoustics
pystoi
pytorch-lightning
scipy
sdeint
setuptools
seaborn
torch==2.7.0
torch-ema
torchaudio
torchvision
torchinfo
torchsde
transformers
tqdm
wandb
pedalboard